.product-admin {
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-admin h2 {
  color: #e84393;
  margin-bottom: 1rem;
}

.add-btn {
  background-color: #e84393;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.add-btn:hover {
  background-color: #d32f7c;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #fce4ec;
  color: #e84393;
}
.custom-dialog-container .mat-mdc-dialog-surface {
  border-radius: 10px !important;
  padding: 0 !important;
  overflow: hidden;
}
