<div class="command-admin">
  <h2>📦 Gestion des Commandes</h2>

  <table class="command-table" *ngIf="commands.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Statut</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let command of commands">
        <td>{{ command.id }}</td>
        <td>{{ command.total }} DT</td>
        <td>{{ command.status }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="commands.length === 0">
    Aucune commande trouvée.
  </p>
</div>
